footer{
  
    background-color: #ffc3ce;  
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 30px 10px 30px;
    @extend #margenExtra;
}

footer a{
    display: flex;
    width: 40px;
    height: 40px;
 
}