

  @import " ./variable";
  @import "./mixins";
  @import " ./footer"; 


  *{
    @include reset;
  }

  


  header{
      background-color: #FFB3C1;
      width: 100%;
  
    
     
  }
  main{
    background-color:$color-fondo;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    font-weight: bold;
  }
  .random{
    background-color: #FFB3C1;
  }
  
  .hero{
    justify-content: center;
  }
  
  nav{
    background-color: #ffc3ce;
  }
  
  #ejemplo{
    height: 100vh;
  }
  

                   
 
        
          .btn-primary {
            color: #590D22;
            background-color:#FF4D6D;
            border-color: #FF4D6D;}
          
            .btn-primary:hover {
             
              background:rgb(185, 144, 213);
              border-color:rgb(185, 144, 213) ;
              }
  
  
  
              #general{
                background-color: #ffb3c1;
                
              }
              
              #margenExtra{
                padding: 20px 0 20px 0;
              }
